#center {
    background-image: linear-gradient(rgb(91, 195, 54),rgb(174, 13, 62)rgba(146,117,5));

}
#center1
{
    background-image: url(../public/Images/images.jpg);
    display: block;
    margin-left: auto;
    margin-right: auto;   
    width: 70.2%;
    height: 165px;
   
}
#service
{
    background-image: url(../public/Images/tvs\ logo.png);
    display: block;
    margin-left: auto;
    margin-right: auto;   
    width: 31.2%;
    height: 400px;
}
#center2
{
    background-image: linear-gradient(rgb(81, 30, 144),rgba(219,101,11),rgb(107, 89, 18));
    -webkit-background-clip: text;
    color: transparent;
    text-decoration: underline rgb(37,52,4);
}
#bc1
{
  background-color: rgb(177, 135, 120);
}
  #texting
  {
    color: rgb(168, 63, 28);
    font-family: cursive;
    font-style: italic;
  }
  #servicebg
  {
    background-image: linear-gradient(rgba(49, 5, 5, 0.97),rgb(241, 145, 71),rgba(242, 206, 63, 0.833));
    -webkit-background-clip: text;
    color: transparent;
  }
   

#div{
    background-image: linear-gradient(rgb(90, 24, 156),rgb(74, 128, 16),rgb(169, 215, 227));
}